<h1>travelling climbers:</h1>

<div class="card-wrapper"></div>
<% trips.each do |trip| %>
    <%= trip.name %> - <%= trip.profile.name %> <br>
    <%= trip.start_date %> - <%= trip.end_date %> <br>
<% end %>
