<div data-controller="save-dates">

  <%= render "date_picker" %>

  <%= render "crag_photo" %>

  <%= render "map" %>

  <div class="container spacing-for-anchor" id="anchor">

    <%= render "local_climbers" %>


    <div data-save-dates-target="travellingClimbers"></div>
  </div>
</div>
