<h1>Crag#show</h1>
<%= @crag.name %>
<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url('<%= cl_image_path @crag.photo.key, height: 300, crop: :fill %>')">
  Cool article
  <br>
  <br>
  <br>
</div>
