<div data-controller="save-dates">

  <%= render "crags/partials/date_picker" %>


  <%= render "crags/partials/crag_photo" %>

  <div id="anchor"></div>

  <% if @crag.activities.nil? %>
    <%= render "crags/partials/map" %>
  <% end %>

  <div class="container spacing-for-anchor">
    <%= render "crags/partials/local_climbers" %>
    <div data-save-dates-target="travellingClimbers"></div>
  </div>

</div>
