// Define variables for your color scheme

// GoClimbing Branding:
$red: #CB5147;
$blue: #3B91AC;

// other colors
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
