<div class="container py-3">
  <h1>Messages:</h1>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do %>
      <%= chatroom.other_user(current_user).profile.name %>
      <br>
    <% end %>
  <% end %>
</div>
<div class="search-bottom-padding"></div>
<%= render "shared/search_bottom" %>
