<div class="container py-3">
  <h1>Messages:</h1>
  <div class="py-2"></div>
  <% @chatrooms.each do |chatroom| %>
    <div class = "d-flex justify-content-between align-items-center bg-light p-2 rounded">
      <div class = "d-flex justify-content-start align-items-center">
        <div class="avatar-wrapper p-2">
          <div class="avatar--small"
              style="background-image: url('<%= cl_image_path chatroom.other_user(current_user).profile.photo.key,
                                          height: 100, width: 100, crop: :fill, gravity: :face %>');">
          </div>
        </div>
        <div class = "p-2"><strong><%= chatroom.other_user(current_user).profile.name %></strong></div>
      </div>
      <div class = "p-2"><%= link_to "Chat", chatroom_path(chatroom), class: "button--blue" %></div>
    </div>
    <div class="py-2"></div>
  <% end %>
</div>

<div class="search-bottom-padding"></div>
<%= render "shared/search_bottom" %>
