<% @profiles.each do |profile| %>
  <%= link_to profile_path(profile), class:"card-button p-3 my-3 d-flex flex-row align-items-start justify-content-start" do %>
        <div class="avatar-wrapper">
          <div class="avatar--small"
              style="background-image: url('<%= cl_image_path profile.photo.key,
                                                height: 100, width: 100, crop: :fill, gravity: :face %>');">
          </div>
        </div>
        <div class="card-text align-items-start">
          <h2 class="t2 t2-p"><%= profile.name %></h2>
          <h3 class="t3 t3-np text-left">home crag:</h3>
          <p class="p p-nm text-left"><%= profile.crag.name %></p>
        </div>
  <% end %>
<% end %>
