<div class="banner">
  <div class="overlay">
    <div class="container text-center">
      <h1><strong>GoClimb</strong> connects</h1>
      <p>Pick a date, look for crags and find other climbers in the same area.</p>
      <br>
      <%= link_to "Discover more", search_path, class: "button--red" %>
    </div>
  </div>
</div>

<div class="container d-flex flex-column align-items-center"><%= render "shared/profile_cards" %></div>

<div class="search-bottom-padding"></div>
<%= render "shared/search_bottom" %>
