<div class="banner">
  <div class="overlay">
    <div class="container text-center">
      <%# <h1 class="t1"><strong>GoClimb</strong> connects</h1> %>
      <%= image_tag "logo.png", class: "banner-logo" %>
      <div class="py-1"></div>
      <h3 class="t3">Climb in new places with new people!</h3>
      <br>
      <%= link_to "Checkout Areas!", search_path, class: "button--red" %>
    </div>
  </div>
</div>

<div class="container d-flex flex-column align-items-center"><%= render "shared/profile_cards" %></div>

<div class="search-bottom-padding"></div>
<%= render "shared/search_bottom" %>
