<div data-controller="search" class="background-blue pt-4">
  <h3 class="t3 white pt-2">Where do you want to climb?</h3>
  <%= form_with url: search_path, method: :get, html: {class:
    "container", data: {search_target: "form"}} do |f| %>
    <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Search for a Crag or Country",
                      value: params[:query],
                      data: {search_target: "input",
                             action: "keyup->search#update"} %>
  <% end %>
  <div class="search-results-list" data-search-target="list"></div>
</div>
