<% unless trips.empty? %>
  <div class="d-flex flex-column align-items-center">
    <h2 class="t2 text-center">Travelling Climbers:</h2>
    <% trips.each do |trip| %>
      <%= link_to profile_path(trip.profile), class:"card-button p-3 my-3 d-flex flex-row align-items-start justify-content-start" do %>
            <div class="avatar-wrapper">
              <div class="avatar--small"
                  style="background-image: url('<%= cl_image_path trip.profile.photo.key,
                                                    height: 100, width: 100, crop: :fill, gravity: :face %>');">
              </div>
            </div>
            <div class="card-text align-items-start">
              <h2 class="t2"><%= trip.profile.name %></h2>
              <h3 class="t3 text-left">local crag:</h3>
              <h3 class="t3 text-left"><%= trip.profile.crag.name %></h3>
            </div>
      <% end %>
    <% end %>
  </div>
<% end %>
