.button {
  border-radius: 10px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border: 0;
  color: white;
  &--red {
    @extend .button;
    background-color: $red;
  }
  &--blue {
    @extend .button;
    background-color: $blue;
  }
}
