.button {
  border-radius: 10px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0;
  color: white;
  text-decoration: none;
  &--red {
    @extend .button;
    background-color: $red;
    --slick {
      @extend .button--red;
      padding: 3px 6px;
    }
  }
  &--blue {
    @extend .button;
    background-color: $blue;
  }

}


.small {
  max-width: fit-content;
}

.button:active {
  color: white;
}

.button:hover {
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 2vh;
  right: 0;
}

.right {
  position: absolute;
  right: 3vh;
}

.trash-icon {
  color: $red;
  min-width: 40px;
  position: absolute;
  padding: 2vh;
  padding-bottom: 2.5vh;
}
