.red-button {
  background-color: $red;
  border-radius: 10px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border: 0;
  color: white;
}

.blue-button {
  background-color: $blue;
  border-radius: 10px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border: 0;
  color: white;
}
