.card-button {
  background-color: $blue;

  width: 85%;
  border-radius: 10px;
  text-decoration: none;
}

.card-text {
  text-decoration: none !important;
  color: white;
  padding-left: 4vw;
}

.trip-card {
  background-color: $light-gray;
  border: $blue solid 1px;
}

.trip-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.trip-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatar-wrapper {
  height: 100%;
}
