.card-wrapper {
  background-color: $blue;
  height: 30vh;
  width: 70vw;
}

.trip-card {
  background-color: $light-gray;
  border: $blue solid 1px;
}

.trip-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.trip-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
