.container {
  padding-top: 3vh;
  padding-bottom: 3vh;
  &--pb {
    @extend .container;
    padding-top: 0;
    padding-bottom: 5vh;
  }
  &--np {
    @extend .container;
    padding-top: 0;
    padding-bottom: 0;
  }

}

.background-blue {
    background-color: $blue;
    min-height: 100px;
}

.relative {
  position: relative;
}

.full-screen {
  min-height: 100vh;
}
