// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.message-style {
  width: 70%;
  max-width: 400px;
  border-radius: 10%;
  padding: 8px;
  min-height: 80px;
  background-color: $light-gray;
  color: $blue;

    p {
      margin-bottom: 8px;
      padding-left: 58px;
    }
}
