.profile-photo {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.crag-photo {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bottom-padding {
  padding-bottom: 10vh;
}
