.profile-photo {
  width: 100%;
  height: 56vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.crag-photo {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.horizontal-black-line {
  background-color: rgba($color: black, $alpha: 0.5);
  width: 90%;
  height: 0.5px;
}
