.white-background {
  background-color: rgba($color: white, $alpha: 0.8);
}

.review-bubble {
  border-radius: 24px 24px 24px 0px;
  padding: 2vh;
  padding-left: 1.5vh;
  padding-bottom: 1.5vh !important;
  margin: 2vh;
  margin-left: 0;
  margin-bottom: 2.5vh;
  margin-top: 4vh;
  margin-right: 0;
  .p {
    padding-bottom: 0 !important;
  }
}

.review-spacing {
  height: 10vh;
}

.delete-review-link {
  margin-left: -40px;
  margin-top: -3px;
}
