.t {
  font-weight: 500;
  text-align: center;
}

.t1 {
  @extend .t;
  font-size: 2.5em;
  font-weight: bold;
}

.t2 {
  @extend .t;
  font-size: 1.5em;
}

.t3 {
  @extend .t;
  text-transform: uppercase;
  font-size: 1em;
}

.text-left {
  text-align: left;
}

.white {
  color: rgba($color: white, $alpha: 0.95);
}

.black {
  color: black;
}
