<div class="container">
  <h1>New review</h1>
  <%= simple_form_for [@profile, @review] do |f| %>
    <%= f.input :comment, placeholder: "Leave a review" %>
    <%= f.submit "Submit review", class: "button--red", data: { turbo: :false } %>
  <% end %>
</div>
